.company-details-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.company-info {
  width: 60%;
  margin-right: 20px;

  @media (max-width: 768px) {
    width: 100%;
    margin-right: 0px;
  }
}

.company-management {
  margin-right: 10px;
}

.extra-info {
  margin-right: 10px;
}